In [13]:
import numpy as np
import pandas as pd

In [14]:
# niveis de indice
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [15]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [16]:
inside

[1, 2, 3, 1, 2, 3]

In [17]:
hier_index = list(zip(outside, inside))

In [18]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [19]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [20]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [26]:
df = pd.DataFrame(np.random.randn(6,2), index = hier_index, columns=['A','B'])

In [27]:
df

             A         B
G1 1 -0.480753  0.987541
   2  0.079323  0.470938
   3  0.195633  1.115521
G2 1 -0.825871 -0.098331
   2  1.588437  0.650166
   3  0.010716 -0.504930

In [31]:
df.loc['G1']

          A         B
1 -0.480753  0.987541
2  0.079323  0.470938
3  0.195633  1.115521

In [32]:
df.loc['G1'].loc[1]

A   -0.480753
B    0.987541
Name: 1, dtype: float64

In [33]:
df.index.names

FrozenList([None, None])

In [34]:
df.index.names = ['Grupo','Numero']

In [35]:
df

                     A         B
Grupo Numero
G1    1      -0.480753  0.987541
      2       0.079323  0.470938
      3       0.195633  1.115521
G2    1      -0.825871 -0.098331
      2       1.588437  0.650166
      3       0.010716 -0.504930

In [39]:
df.xs('G1')

               A         B
Numero
1      -0.480753  0.987541
2       0.079323  0.470938
3       0.195633  1.115521

In [40]:
df.xs(1, level='Numero')

              A         B
Grupo
G1    -0.480753  0.987541
G2    -0.825871 -0.098331